body {
                font-family: 'Lato';
            }

            .fa-btn {
                margin-right: 6px;
            }
            
            .form-control {
                margin-bottom: 1em;
            }